/* TODO Add site wide styles */

* {
    text-decoration: none;
}

/* ok - signin and signup forms */
.root__main-container {
    display: grid;
    grid-template-columns: auto auto 1fr;

    /* grid-template-columns: 30% auto;
    grid-template-rows: 10% auto;
    grid-template-areas: 
        'logo header'
        'sidebar main'; */
}

.sidebar-container {
    /* grid-area: sidebar; */
    border: 1px solid black;

    height: 100%;
    left: 0;
    width: 250px;
    margin-top: 60px;
}



/* OK */
/* ------------------------------------ */
/* SigninFormPage */
/* ------------------------------------ */

.signin-form-container {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 512px;
    box-shadow: 0px 5px 20px lightgrey;
    border-radius: 3px;
}

.signin-form-body {
    margin: 50px 100px;
    width: 250px;
}

.signin-form-heading {
    text-align: center;
}

.error-container {
    display: block;
}

.error-li {
    list-style-type: none;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: -20%;
    padding-top: 5%;
}

.signin-form__input-div {
    display: block;
    text-align: center;
    margin: 10% 0 5% 0;
}

.signin-form__input {
    padding: 12px 16px;
    border: solid 0.3px lightgray;
    border-radius: 7px;
    width: 70%;
    margin: 1%;
}

.signin-form__input:focus {
    outline: none;
    box-shadow: 0 0 2px #00a82d;
}

.signin-btn {
    background-color: #00a82d;
    color: white;
    border: none;
    border-radius: 0.3em;
    transition: all 0.2s ease 0s;
    width: 80%;
    padding: 2%;
    margin: 3% 0 1% 0;
}

.signin-btn:hover {
    background-color: green;
}

.cancel-btn {
    background-color: white;
    border: none;
    width: 80%;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
}

.signup-form__button-div {
    display: block;
    text-align: center;
    padding: 3%;
}

.signup-form__button-header {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.alter-signup-btn {
    color: #00a82d;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 2%;
}

.demo-signin-btn {
    background-color: lightgray;
    color: white;
    margin: 2%;
    border: none;
    border-radius: 0.3em;
    transition: all 0.2s ease 0s;
    width: 40%;
    padding: 2%;
    margin-top: 5%;
}

.demo-signin-btn:hover {
    background-color: gray;
    color: white;
}



/* OK */
/* ------------------------------------ */
/* SignupFormPage */
/* ------------------------------------ */

.signup-form-container {
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 512px;
    box-shadow: 0px 5px 20px lightgrey;
    border-radius: 3px;
}

.signup-form-body {
    margin: 50px 100px;
    width: 250px;
}

.signup-form-heading {
    text-align: center;
}

.signup-form__input-div {
    display: block;
    text-align: center;
    margin: 10% 0 5% 0;
}

.signup-form__input {
    padding: 12px 16px;
    border: solid 0.3px lightgray;
    border-radius: 7px;
    width: 70%;
    margin: 1%;
}

.signup-form__input:focus {
    outline: none;
    box-shadow: 0 0 2px #00a82d;
}

.signup-btn {
    background-color: #00a82d;
    color: white;
    border: none;
    border-radius: 0.3em;
    transition: all 0.2s ease 0s;
    width: 80%;
    padding: 2%;
    margin: 3% 0 1% 0;
}

.signup-btn:hover {
    background-color: green;
}

.show-password-div {
    display: block;
    text-align: center;
    padding: 3%;
}

.signin-form__button-div {
    display: block;
    text-align: center;
    padding: 3%;
}

.signin-form__button-header {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.alter-signin-btn {
    color: #00a82d;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 2%;
}




/* ------------------------------------ */
/* NotePage */
/* ------------------------------------ */

.notes-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100vh;
}

.notes-list-container {
    height: 100%;
    width: 300px;
    overflow-y: auto;
}

.notes-list-header {
    height: 75px;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 10px;
    /* margin-bottom: 0; */
}

.notes-list-ul {
    list-style-type: none;
    margin-left: -40px;
}

.notes-list-li {
    display: flex;
    flex-direction: column;
    height: 75px;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.notes-list-li__title {
    padding-bottom: 5px; 
}

.notes-list-li__content {
    flex-grow: 3;
    font-size: 14px;
    color: grey;
}

.notes-list-li__date {
    font-size: 12px;
}

.note-body {
    padding: 20px;
}

.note-body-header {
    font-size: 20px;
}

.note-body-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

.note-body-content__form {
    box-sizing: border-box;
}

.note-body-content__error-li {
    list-style-type: none;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: -15%;
    padding-top: 5%;
}

.note-body-content__title-input {
    display: grid;
    width: 200%;
}

.note-body-content__content-input {
    display: grid;
}

.create-note-btn {

}

.cancel-create-note-btn {

}




/* ------------------------------------ */
/* NotebookPage */
/* ------------------------------------ */


/* .header {
    grid-area: header;
    height: 100%;
}

.main {
    grid-area: main;
}

.table__tbody__tr__th {
    font-weight:lighter;
    text-align: left;
}

table {
    box-shadow: 0 0 3px lightgrey;
    border-radius: 7px;
    padding: 3%;
}

.notebook-action-btn, .note-action-btn {
    border: none;
}

.during-popup{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.popup-container {
    position: fixed;

    left: 30%;
    top: 30%;

    width: 30%;

    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px lightgrey;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */





